div{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-top:0;
    margin-bottom:0;
    margin:2px;
}
.container{
    padding: 10px;
    width: 300px;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    box-shadow: 5px 5px 10px;
}
.uname{
    font-weight: 600;
}
.photo{
    width:50px;
}
img{
    height:50px;
    width:50px;
    object-fit: cover;
    border-radius: 50%;
}

.flex{
    margin:5px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.disc{
    font-size: 13px;
    color: gray;
}
button{
    background-color: rgb(21, 205, 230);
    color:whitesmoke;
    border:none;
    border-radius: 5px;
    margin:25px;
    padding:6px 8px; 
}