div{
    font-family: Tahoma;
}
p{
    margin-top: 0;
    margin-bottom: 0;
    margin:10px;
}
.container{
    width:500px;
    border:2px solid black;
    display: flex;
    flex-direction: column;
}
/*.vertical-split{
    display: flex;
    flex-direction: column;
    height:90px;
}
*/
.h-split{
    margin-top: 8px;
    display: flex;
    flex-direction:row;
}
img{
    margin-top: 5px;
    height:70px;
    width:70px;
    object-fit: cover;
    border-radius: 50%;
}
.row{
    margin-left: 10px;
    flex:1;
}
.row-items{
    display: flex;
    align-items: top;
    margin-left:9px;
    font-weight: 600;
}
.grey{
    background-color: rgb(228, 219, 219);
    height:100px;
    width:80px;
    border-radius: 8px;
    margin-right: -2px;
}

.grey-color{
    color:grey;
}
.link{
    background-color: rgb(237, 231, 224);
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
    border-radius:10px;
}
a{
    text-decoration: none;
    margin-left: 10px;
}
.youtube-link{
    margin-top:10px;
    flex:1;
    margin-left:10px;
}