body{
    height:3000px;
}
img{
    width:300px;
    object-fit: cover;
}
.shop{
    border: 2px solid maroon;
    width:300px;
    position: relative;
    display: inline-block;
}
.discount{
    background-color: black;
    color:white;
    position: absolute;
    right:0;
    top:5px;
    padding:3px 4px;
}

.overlays{
    background-color: rgba(42, 39, 39, 0.271);
    opacity: 0.6;
    height:100px;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.add{
    background-color: white;
    border:1px solid black;
    color:black;
    font-weight: 500;
    border-radius:2px;
    padding:6px;
}