p{
    font-family: Tahoma;
    margin-top: 0;
    margin-bottom: 0;
}
.fb{
    border: 2px solid rgb(192, 196, 192);
    width: 200px;
    box-shadow: 5px 5px 10px rgba(192, 196, 192,0.5);
    display: inline-block;
    margin-left: 5px;
}
.bunny{
    object-fit: cover;
    width:200px;
    height: 200px;
    margin-bottom: 12px;
}
.uname{
    font-weight: 600;
    margin:0 5px;
}

.frnds{
    font-size: 13px;
    color: grey;
    margin:0 5px;
}

.add-frnd{
    margin:8px 5px;
    background-color: rgb(13, 115, 240);
    border:none;
    padding:5px 10px;
    color:white;
    border-radius: 4px;
}